#modalFirebase{
    color: white;
}

#img{
    /* width: 400px; */
    height: 150px;
}

.titulo{
    font-size: 50px;
    color: white;
    
    font-family: 'Permanent Marker', cursive;
    font-family: 'Kumar One Outline', cursive;
    font-family: 'Orbitron', sans-serif;


    font-style: normal;
    font-weight: 900;
    
/*     src: local('Open Sans'),
         url(opensans.eot) format('embedded-opentype'),
         url(opensans.ttf) format('truetype'),
         url(opensans.otf) format('opentype'),
         url(opensans.woff) format('woff'); */
}

#divs{
background-color: darkslategray;
}
.texto{
    font-size: 35px;
    color: white;
    
    

    font-family: 'Permanent Marker', cursive;

    font-family: 'Kumar One Outline', cursive;

    font-family: 'Orbitron', sans-serif;

    font-family: 'Bangers', cursive;

    font-family: 'Julius Sans One', sans-serif;


}
#texto-preg{
    color: white;
}

.botonimagen-negro{
      background-image:url(https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Fcuadrado-negro1.png?alt=media&token=d120e5b9-2b09-437c-9c37-afc08fb95d52);
    width: 57px;
    height: 57px;
    }
.botonimagen-rojo{
      background-image:url(https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Fcuadrado-rojo1.png?alt=media&token=902e05ea-8868-4bb3-897c-03d30196a62a);
    width: 57px;
    height: 57px;
    }
.botonimagen-blanco{
      background-image:url(https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Fcuadrado-blanco.png?alt=media&token=02a9ed78-bb51-490f-9888-02d5ff51b5fb);
    width: 57px;
    height: 57px;
    }
/*
p{
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 40px;
}
*/
.ir-arriba {
	display:inline-block;
	padding:20px;
	background-color: darkblue;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
#clock{
   background-image:url('');
   background-size:cover;
   background-position: center;
   height: 250px; width: 250px;
   border: 1px solid #bbb;
}
/*
img{
  cursor:pointer;
  width: 100%; 
  height: 200px;
  border-style: solid; 
  border-color: #000000 #000000; 
  border-width: medium;
}
*/

input[type=file] {
    margin: 0 auto;
}