<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Autos</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/round-about.css">
    <script src="../js/popper.js"></script>
    <script src="../js/popper.min.js"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home.html">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Flogo-final-2.png?alt=media&token=1925985e-0e64-4d7b-8903-a5186195c094" >
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="autos.html">Autos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="subirAuto.html">Subir Auto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="misAutos.html">Mis Autos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Autos
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="ferrari.html">Ferrari</a>
                        <a class="dropdown-item" href="lamborghini.html">Lamborghini</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <h1 class="my-4">Autos..
            <small>Hola, un placer tenerte aqui</small>
        </h1>
        <p>En esta seccion, podremos observar difernetes tipos de autos. Si quiere saber mas informacion sobre una marca, solo presiona sobre ella!</p>

        <!-- Team Members Row -->
        <div id="troll" class="row">
            <div class="col-lg-12">
                <h2 class="my-4">Todas las marcas:</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <a href="ferrari.html"><img class="rounded-circle img-fluid d-block mx-auto" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2Fferrari-logo2.png?alt=media&token=3aab83b3-bcff-478a-95d4-c7b33f58df38" ></a>
                <h3>Ferrari
                    <a href="https://www.ferrari.com/es-AR"><small>Ver mas</small></a>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../static/mini-cooper/logo2.png" alt="">
                <h3>Mini cooper
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <a href="lamborghini.html"><img class="img-fluid d-block mx-auto" src="../static/lamborghini/lamborghini-logo.png" alt=""></a>
                <h3>Lamborghini
                    <a href="https://www.lamborghini.com/en-en/"><small>Ver mas</small></a>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../static/ford/ford-logo.png" alt="">
                <h3>Ford
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../static/bmw/bmw-logo.png" alt="">
                <h3>BMW
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../static/fiat/Fiat_Logo.png" alt="">
                <h3>Fiat
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">

            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../static/volkswagen/Volkswagen_Logo.png" alt="">
                <h3>Volkswagen
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../static/chevrolet/chevrolet.png" alt="">
                <h3>Chevrolet
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="img-fluid d-block mx-auto" src="../static/audi/audi-rings-png-image.png" alt="">
                <h3>Audi
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class=" img-fluid d-block mx-auto" src="../static/peugeot/Peugeot-logo-200x200.png" alt="">
                <h3>Peugeot
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../static/hyundai/Hyundai.png" alt="">
                <h3>Hyundai
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="img-fluid d-block mx-auto" src="../static/porsche/porsche.png" alt="">
                <h3>Porsche
                    <small>Ver mas</small>
                </h3>
                <p>Este auto es muy veloz!</p>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>


</body>

</html>
