<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ferrari</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/heroic-features.css" rel="stylesheet">
    <link href="../css/proyecto.css" rel="stylesheet">
    <script src="../js/popper.js"></script>
    <script src="../js/popper.min.js"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
      <img src="../static/logo-final-2.png" >
 </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="autos.html">Autos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="subirAuto.html">Subir Auto</a> </li>
                <li class="nav-item">
                    <a class="nav-link" href="misAutos.html">Mis Autos</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Autos  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href=ferrari.html>Ferrari</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">A Warm Welcome!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
        </header>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="../static/ferrari/299-GTB/portada1.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">2009 Ferrari 599 GTB Fiorano</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Find Out More!</a>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/portada.jpg" alt="First slide" id="imagen1">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/costado.jpg" alt="Second slide" id="imagen2">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/costado2.jpg" alt="Third slide" id="imagen3">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/costado3.jpg" alt="Fourth slide" id="imagen4">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/costado4.jpg" alt="Fifth slide" id="imagen5">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/atras.jpg" alt="Sixth slide" id="imagen6">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/atras2.jpg" alt="Seventh slide" id="imagen7">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/atras3.jpg" alt="Eighth slide" id="imagen8">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/rueda.jpg" alt="ninth slide" id="imagen9">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/adentro.jpg" alt="tenth slide" id="imagen10">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/299-GTB/adentro2.jpg" alt="eleventh slide" id="imagen11">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                            </div>
                            <table>
                                <tr>
                                    <td>
                                        <div>Marca:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Modelo:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Precio:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Estado:</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">

                            <button onclick="cambiarImagenFerrariNegro()" class="botonimagen-negro"></button>
                            <button onclick="cambiarImagenFerrariRojo()" class="botonimagen-rojo"></button>


                            <!--         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="../static/ferrari/italia/blanco/portada.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Ferrari 458 Italia</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Find Out More!</a>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="7"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="8"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/portada.png" alt="First slide" id="imagenItalia1">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/costado.jpg" alt="Second slide" id="imagenItalia2">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/costado1.jpg" alt="Third slide" id="imagenItalia3">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/costado2.jpg" alt="Fourth slide" id="imagenItalia4">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/costado3.jpg" alt="Fifth slide" id="imagenItalia5">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/atras.jpg" alt="Sixth slide" id="imagenItalia6">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/atras1.jpg" alt="Seventh slide" id="imagenItalia7">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/atras2.jpg" alt="Eighth slide" id="imagenItalia8">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../static/ferrari/italia/blanco/adentro.jpg" alt="ninth slide" id="imagenItalia9">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                            </div>
                            <table>
                                <tr>
                                    <td>
                                        <div>Marca:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Modelo:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Precio:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Estado:</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">

                            <button onclick="cambiarFerrari2Negro()" class="botonimagen-negro"></button> 
                            <button onclick="cambiarFerrari2Blanco()" class="botonimagen-blanco"></button>

                            <!--         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>
