<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/heroic-features.css" rel="stylesheet">
    <link href="../css/proyecto.css" rel="stylesheet">
    <script src="../js/popper.js"></script>
    <script src="../js/popper.min.js"></script>
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <body>

        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home.html">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Flogo-final-2.png?alt=media&token=1925985e-0e64-4d7b-8903-a5186195c094" >
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="autos.html">Autos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="subirAuto.html">Subir Auto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="misAutos.html">Mis Autos</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Autos
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="ferrari.html">Ferrari</a>
                        <a class="dropdown-item" href="lamborghini.html">Lamborghini</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Page Content -->
        <div class="container">
    <span class="ir-arriba icon-arrow-up"></span>
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">A Warm Welcome!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
        </header>

        <!-- Page Features -->
        <div class="row text-center" id="lol">

            <div class="col-lg-3 col-md-6 mb-4" >
                <div class="card">
                    <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fportada1.png?alt=media&token=6b37f819-4c36-4432-9aac-6b478a8e8ca6" id="imagen-portada">
                    <div class="card-body">
                        <h4 class="card-title">2009 Ferrari 599 GTB Fiorano</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Find Out More!</a>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fportada1.png?alt=media&token=6b37f819-4c36-4432-9aac-6b478a8e8ca6" alt="First slide" id="imagen1">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fcostado.jpg?alt=media&token=220ea6de-ca9c-4b81-aef3-d282d293e260" alt="Second slide" id="imagen2">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fcostado2.jpg?alt=media&token=17aee7fc-fa7d-4e6d-815b-75f1b2c7ddbe" alt="Third slide" id="imagen3">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fcostado3.jpg?alt=media&token=c7c1f9e4-e45d-416a-994e-07fdbcd43759" alt="Fourth slide" id="imagen4">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fcostado4.jpg?alt=media&token=98e4a073-1303-4bda-900a-048a28e0734d" alt="Fifth slide" id="imagen5">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fatras.jpg?alt=media&token=5ebf19e2-3092-43c5-9186-c005db49c6bd" alt="Sixth slide" id="imagen6">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fatras2.jpg?alt=media&token=4ebaefc5-7a9b-4fa3-acb5-68207ea8e982" alt="Seventh slide" id="imagen7">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fatras3.jpg?alt=media&token=eb176cf7-7b7a-4af0-a879-14ff6581a694" alt="Eighth slide" id="imagen8">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Frueda.jpg?alt=media&token=18ecee04-1d43-4eb6-a9ec-89cd534bcb84" alt="ninth slide" id="imagen9">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fadentro.jpg?alt=media&token=bae1c77e-c043-45d7-b85a-434308b7fc63" alt="tenth slide" id="imagen10">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2F299-GTB%2FRojo%2Fadentro2.jpg?alt=media&token=ae5e4468-9924-480f-a739-4f655a50f7fe" alt="eleventh slide" id="imagen11">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                            </div>
                            <table>
                                <tr>
                                    <td>
                                        <div>Marca:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Modelo:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Precio:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Estado:</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">

                            <button onclick="cambiarImagenFerrariNegro()" class="botonimagen-negro"></button>
                            <button onclick="cambiarImagenFerrariRojo()" class="botonimagen-rojo"></button>


                            <!--         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fportada.png?alt=media&token=3678d4b3-22fd-4ae0-8514-7c1354e59f41" alt="" id="imagen-portada-italia">
                    <div class="card-body">
                        <h4 class="card-title">Ferrari 458 Italia</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Find Out More!</a>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="7"></li>
                                    <li data-target="#carouselExampleIndicators1" data-slide-to="8"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fportada.png?alt=media&token=3678d4b3-22fd-4ae0-8514-7c1354e59f41" alt="First slide" id="imagenItalia1">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fcostado.jpg?alt=media&token=00d58ca3-acb8-4900-9d28-a8792d191faa" alt="Second slide" id="imagenItalia2">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fcostado1.jpg?alt=media&token=e4e72968-5f7a-4cc9-8929-8482d6475a66" alt="Third slide" id="imagenItalia3">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fcostado2.jpg?alt=media&token=0fe4f14c-dc26-45af-ae5a-7288a67d65bc" alt="Fourth slide" id="imagenItalia4">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fcostado3.jpg?alt=media&token=779cd3d0-5ca2-43be-bd7b-4ca0b0fc4d5f" alt="Fifth slide" id="imagenItalia5">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fatras.jpg?alt=media&token=898fd07b-4321-4224-9e5c-7233dc5470b1" alt="Sixth slide" id="imagenItalia6">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fatras1.jpg?alt=media&token=c1663b3c-6cf0-455f-b0d4-ec544f807505" alt="Seventh slide" id="imagenItalia7">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fatras2.jpg?alt=media&token=541e1abe-ef1f-42fc-805c-91b75cd40961" alt="Eighth slide" id="imagenItalia8">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FFerrari%2FItalia%2FBlanco%2Fadentro.jpg?alt=media&token=ef1d625e-7550-4e60-a31f-e8e8fcdd190d" alt="ninth slide" id="imagenItalia9">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                            </div>
                            <table>
                                <tr>
                                    <td>
                                        <div>Marca:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Modelo:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Precio:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Estado:</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">

                            <button onclick="cambiarFerrari2Negro()" class="botonimagen-negro"></button> 
                            <button onclick="cambiarFerrari2Blanco()" class="botonimagen-blanco"></button>
                            <button onclick="cambiarFerrari2Rojo()" class="botonimagen-rojo"></button>

                            <!--         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>

</html>
