<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Subir Autos</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../css/one-page-wonder.css" rel="stylesheet">
    <script src="../js/popper.js"></script>
    <link href="../css/proyecto.css">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home.html">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Flogo-final-2.png?alt=media&token=1925985e-0e64-4d7b-8903-a5186195c094" >
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="autos.html">Autos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="subirAuto.html">Subir Auto</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="misAutos.html">Mis Autos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Autos
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="ferrari.html">Ferrari</a>
                        <a class="dropdown-item" href="lamborghini.html">Lamborghini</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <header class="masthead">
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-white">Crea tu propio Auto</h1>
                <h2 class="display-4 text-white">Una sensacion increible</h2>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Fdatos_personales.png?alt=media&token=bb53e481-1e3b-48e9-9876-f52b95c493b6" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Datos del Auto...</h2>


                        <table>
                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Modelo </td>
                                <!-- columnas -->

                                <td> <input type="text" placeholder="Ingrese su modelo" id="txtModelo"> </td>
                            </tr>
                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Marca </td>
                                <!-- columnas -->

                                <td> 
                                
                                
                                <select id="chooscat">
                                <option>Elije una opcion</option>
                                <option>Ferrari</option>
                                <option>Mini Cooper</option>
                                <option>Lamborghini</option>
                                <option>Ford</option>
                                <option>BMW</option>
                                <option>Fiat</option>
                                <option>Volkswagen</option>
                                <option>Renault</option>
                                <option>Audi</option>
                                <option>Peugeot</option>
                                <option>Hyundai</option>
                                <option>Porsche</option>
                                </select>
                                
                                
                                
                                <!-- <input type="text" placeholder="Ingrese su marca" id="txtMarca"> -->
                                
                                
                                
                                </td>
                                
                                
                            </tr>
                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Precio </td>
                                <!-- columnas -->

                                <td> <input type="text" placeholder="Ingrese su precio" id="txtPrecio"> </td>
                            </tr>

                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Estado </td>
                                <!-- columnas -->

                                <td> <input type="text" placeholder="Ingrese su estado" id="txtEstado"> </td>
                            </tr>


                        </table>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2FPersona-Creation.png?alt=media&token=dc660feb-534c-4250-9ac5-99396874a8a6" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Datos Personales</h2>

                        <table>
                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Nombre </td>
                                <!-- columnas -->

                                <td> <input type="text" placeholder="Ingrese su nombre" id="txtNombre"> </td>
                            </tr>
                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Apellido </td>
                                <!-- columnas -->

                                <td> <input type="text" placeholder="Ingrese su apellido" id="txtApellido"> </td>
                            </tr>
                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Telefono </td>
                                <!-- columnas -->

                                <td> <input type="text" placeholder="Ingrese su telefono" id="txtTelefono"> </td>
                            </tr>

                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Email </td>
                                <!-- columnas -->

                                <td> <input type="text" placeholder="Ingrese su email" id="txtEmail"> </td>
                            </tr>


                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rssounded-circle" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Fcamera.png?alt=media&token=83ce6e36-e41d-45b1-bd33-a1222b458f09" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Agregar una imagen...</h2>

                        <table>
                            <tr>
                                <!-- filas -->

                                <td id="texto-preg"> Ruta </td>
                                <!-- columnas -->
                                <td>
<!--                                 <input type='file' id='getval' name="background-image">
                                <div id='clock'></div> -->
                       <div id="ponerAca"><img src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Fcuadrado-blanco.png?alt=media&token=02a9ed78-bb51-490f-9888-02d5ff51b5fb" id="imgProbar"></div>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <!-- filas -->

                                <td></td>
                                <!-- columnas -->

                               <td>
                                
                                
                                <input type="file" id="file">
                                
                                                                </td>
                            </tr>
                        </table>
                        <div>

                            <!-- ACA VA LA IMAGEN -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/proyectoprogramacion-e3521.appspot.com/o/static%2FVarios%2Fcover%2Bicon1.png?alt=media&token=a2d23131-2638-4a3a-87b3-5cfc65d557bb" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <h2 class="display-4">Descripcion</h2>

                        <table>
                            <tr>
                                <!-- filas -->

                                <!-- columnas -->

                                <td> <input type="text" placeholder="Ingrese una descripcion de su auto" id="txtDescrpicion" style="width: 500px; height: 300px"> </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6 order-2">
                    <div class="p-5">
                        


                        <table>

                            <tr>
                                <td>
                                    <input type="button" value="Guardar " id="boton" onclick="tomarDatos()">
                                </td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>
